PORT=8000
HOST=0.0.0.0
GITHUB_PERSONAL_ACCESS_TOKEN=ghp_your_token_here
GITHUB_WEBHOOK_SECRET=your_webhook_secret_here
WORKSPACE_BASE=e:/~Michael Bowen/Projects
DEFAULT_REPO=BowenMichael/f1-frontend
MAX_ACTIVE_AGENTS=5
